body {
    background-color:  white;

}

.container {
    display: inline-grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    text-align: center;
  }

.square {
    background-color: lightblue;
    height: 25px;
    width: 25px;
}